<header class="navbar-header">
  <nav>
    <ul class="navbar">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/homeList" class="nav-link">Home List</a></li>
      <li><a href="/host/add-home" class="nav-link">Add Home</a></li>
      <li><a href="/host/hostHomeList" class="nav-link">Host Home List</a></li>
      <li><a href="/favouriteList" class="nav-link">Favourites</a></li>
      <li><a href="/reserve" class="nav-link">Reserve</a></li>
      <li><a href="/booking" class="nav-link">Booking</a></li>
    </ul>
  </nav>
</header>
