<%- include('partials/head') %>
</head>
<body>
<%- include('partials/navbar') %>
    <main>
        <h1>404 🔥 Sexy Page Not Found</h1>
        <p>Oops! The page you’re looking for doesn’t exist or got moved.</p>
        <a href="/">Go Back Home</a>
    </main>
</body>
</html>
