<header class="navbar-header">
  <nav>
    <ul class="navbar">
      <li><a href="/" class="nav-link">airbnb</a></li>
      <% if(isLoggedIn) { %>
        <% if(user && user.userType==='guest') { %>
          <li><a href="/homeList" class="nav-link">Home List</a></li>
          <li><a href="/favouriteList" class="nav-link">Favourites</a></li>
        <% } else { %>
          <li><a href="/host/add-home" class="nav-link">Add Home</a></li>
          <li><a href="/host/hostHomeList" class="nav-link">Home List</a></li>
        <% } %> 
        
      <% } %> <% if(isLoggedIn) { %>
      <li>
        <form action="/logout" class="nav-link" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } else { %>
      <li>
        <form action="/login">
          <button type="submit">Login</button>
        </form>
        <form action="/signup">
          <button type="submit">Sign Up</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
