<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main>
        <h1>Login with your info:</h1>
        <form action="/login" method="POST">
            <%- include('../partials/errors') %>
            <input type="email" name="email" placeholder="Enter Email" value="<%= oldInput.email?oldInput.email:'' %>" required >
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Sign in</button>
        </form>
    </main>
        
</body>
</html>